# Miscellaneous
/FrontEnd/*.class
/FrontEnd/*.log
/FrontEnd/*.pyc
/FrontEnd/*.swp
/FrontEnd/.DS_Store
/FrontEnd/.atom/
/FrontEnd/.build/
/FrontEnd/.buildlog/
/FrontEnd/.history
/FrontEnd/.svn/
/FrontEnd/.swiftpm/
/FrontEnd/migrate_working_dir/

# IntelliJ related
/FrontEnd/*.iml
/FrontEnd/*.ipr
/FrontEnd/*.iws
/FrontEnd/.idea/

# VS Code (commented by default)
/FrontEnd/.vscode/

# Flutter/Dart/Pub related
/FrontEnd/**/doc/api/
/FrontEnd/**/ios/Flutter/.last_build_id
/FrontEnd/.dart_tool/
/FrontEnd/.flutter-plugins
/FrontEnd/.flutter-plugins-dependencies
/FrontEnd/.pub-cache/
/FrontEnd/.pub/
/FrontEnd/build/

# Symbolication related
/FrontEnd/app.*.symbols

# Obfuscation related
/FrontEnd/app.*.map.json

# Android Studio build artifacts
/FrontEnd/android/app/debug
/FrontEnd/android/app/profile
/FrontEnd/android/app/release

# BackEnd
/BackEnd/node_modules/
